.hero {
  padding-top: 45px;
  padding-bottom: 80px;
}

.hero-wrapper {
  width: min(91.47%, 1110px);
  margin-right: auto;
  margin-left: auto;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.hero-title-group {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.hero-heading {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.26;
  color: var(--dark-blue);
}

.hero-paragraph {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  color: var(--almost-pure-grey);
  background-color: linear-gradient(var(--pinkish-linear-gradient-start), var(--pinkish-linear-gradient-end));
}

.hero-button {
  width: 167px;
  text-decoration: none;
  background: linear-gradient(#ff6f48, #f02aa6);
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 31.5px;
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  color: var(--pure-white);
  font-weight: 700;
  line-height: 1.62;
  text-align: center;
}

.hero-button:hover {
  opacity: 0.6;
  transition: ease-in .15s;
}

.hero-image {
  width: 100%;
}

.hero-bottom-section {
  padding-top: 210px;
}

.course-list {
  display: grid;
  grid-template-rows: auto repeat(5, 1fr);
  row-gap: 40px;
}

.course-description {
  background: linear-gradient(#ff6f48, #f02aa6);
  padding: 28px;
  border-radius: 10px;
  color: var(--pure-white);
  font-size: 1.5;
  font-weight: 800;
  line-height: 1.33;
}

.course-list-item {
  border-radius: 10px;
  background-color: var(--pure-white);
  position: relative;
  padding-top: 56px;
  padding-bottom: 32px;
  padding-right: 28px;
  padding-left: 28px;
}

.course-list-icon {
  position: absolute;
  top: -24px;
  left: 28px;
}

.course-list-title {
  color: var(--dark-blue);
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 16px;
}

.course-list-description {
  color: var(--almost-pure-grey);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  margin-bottom: 24px;
}

.course-list-button {
  text-decoration: none;
  font-size: 1.125rem;
  color: var(--bright-pink);
}

.course-list-button:hover {
  opacity: 0.6;
  transition: ease-in 0.1s;
}


/* Tablet */
@media (768px <= width < 960px) {

  body {
    /* position: relative; */
  }

  .hero {
    padding-top: 99px;
  }

  .hero-section {
    display: flex;
    flex-direction: row;
    gap: 10.95px;
    position: relative;
  }

  .hero-title-group {
    width: 60.5%;
  }

  .hero-image {
    /* right: -35%; */
    z-index: -1;
    /* position: relative; */
    position: absolute;
    top: -84%;
    right: -45%;
    width: 640px;
    height: 640px;
    /* margin-top: -225px;
    margin-right: -300px; */
  }

  .course-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 56px;
  }

  .course-description {
    padding-top: 56px;
    padding-right: 26px;
    padding-left: 26px;
  }
}


/* Desktop */
@media (960px <= width <= 1440px) {
  /* .hero-image {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  } */

  .hero {
    padding-top: 99px;
  }

  .hero-section {
    display: flex;
    flex-direction: row;
    gap: 10.95px;
    position: relative;
  }

  .hero-title-group {
    width: 42%;
  }

  .hero-heading {
    font-size: 3.5rem;
  }

  .hero-paragraph {
    font-size: 1.125rem;
  }

  .hero-image {
    /* right: -35%; */
    z-index: -1;
    /* position: relative; */
    position: absolute;
    top: -420px;
    right: -550px;
    width: 100%;
    /* margin-top: -225px;
    margin-right: -300px; */
  }

  .hero-bottom-section {
    padding-top: 250px;
  }

  .course-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 80px;
  }

  .course-description {
    border-radius: 15px;
    padding-top: 64px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 138px;
  }

  .course-list-sub-heading {
    font-size: 2rem;
    line-height: 1.25;
  }

  .course-list-item {
    border-radius: 15px;
    padding-top: 64px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .course-list-title {
    margin-bottom: 24px;
    font-size: 1.5rem;
  }

  .course-list-description {
    margin-bottom: 24px;
    /* font-size: 1.1rem; */
  }
}

