.hero {
  padding-top: 45px;
}

.hero-wrapper {
  width: min(91.47%, 1110px);
  margin-right: auto;
  margin-left: auto;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.hero-title-group {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.hero-heading {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.26;
  color: var(--dark-blue);
}

.hero-paragraph {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  color: var(--almost-pure-grey);
  background-color: linear-gradient(var(--pinkish-linear-gradient-start), var(--pinkish-linear-gradient-end));
}

.hero-button {
  width: 167px;
  text-decoration: none;
  background: linear-gradient(#ff6f48, #f02aa6);
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 31.5px;
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  color: var(--pure-white);
  font-weight: 700;
  line-height: 1.62;
  text-align: center;
}

.hero-image {
  width: 100%;
}



/* Tablet */
@media (768px <= width < 960px) {

  body {
    /* position: relative; */
  }

  .hero {
    padding-top: 99px;
  }

  .hero-section {
    display: flex;
    flex-direction: row;
    gap: 10.95px;
    position: relative;
  }

  .hero-title-group {
    width: 60.5%;
  }

  .hero-image {
    /* right: -35%; */
    z-index: -1;
    /* position: relative; */
    position: absolute;
    top: -84%;
    right: -45%;
    width: 640px;
    height: 640px;
    /* margin-top: -225px;
    margin-right: -300px; */
  }
}


/* Desktop */
@media (960px <= width <= 1440px) {
  /* .hero-image {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  } */
}

